/* line 4, ../sass/toggles_ie.scss */
.toggle-light .toggle-slide .toggle-blob,
.toggle-light .toggle-slide .toggle-blob:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#cfcfcf',GradientType=0 );
}
/* line 9, ../sass/toggles_ie.scss */
.toggle-light .toggle-slide .toggle-on.active {
  filter: none;
  color: #fff;
}
/* line 14, ../sass/toggles_ie.scss */
.toggle-light .toggle-slide .toggle-off {
  color: #474747;
}
