<div class='left-col'>
    <div class="date">
        <span class="month">{{entry.creation_date|date:"M"}}</span>
        <span class="day">{{entry.creation_date.day}}</span>
    </div>
    {% if blog.enable_facebook or blog.enable_twitter or blog.email_account_link %}
    <div class="social">
    {% if blog.enable_facebook %}
        <a href="#" class="facebook"><img src="" alt="Share on Facebook" /></a>
    {% endif %}
    {% if blog.enable_twitter%}
        <a href="#" class="twitter"><img src="" alt="Share on Twitter" /></a>
    {% endif %}
    {% if blog.email_account_link%}
        <a href="#" class="email"><img src="" alt="Share via Email" /></a>
    {% endif %}
    </div>
    {% endif %}
</div>
<div class='right-col'>
    <h1 id='entry-title'>{{entry.title}}</h1>
    <p class="subtitle">
        Posted by <span class="author">{{entry.author}}</span>
    </p>
    {% if entry.thumbnail_image %}
    <div class="entry-image"><img src='{{entry.thumbnail_image.url}}' /></div>
    {% endif %}
</div>
