{% if entry.previous_post or entry.next_post%}
<div class="entry-footer">
    {% if entry.previous_post %}
    <a href="#" class="pull-left">
        <div class="arrow-left">previous post</div>
        <p class="summary">{{entry.previous_post.abstract}}</p>
        <p class="date">
            <span class="month">{{entry.previous_post.creation_date|date:'F'}}</span>
            <span class="day">{{entry.previous_post.creation_date.day}}</span>,
            <span class="year">{{entry.previous_post.creation_date.year}}</span>
        </p>
    </a>
    {% else %}
    <a href="#" class="pull-right">
        <div class="arrow-right">next post</div>
        <p class="summary">{{entry.next_post.abstract}}</p>
        <p class="date">
            <span class="month">{{entry.next_post.creation_date.month}}</span>
            <span class="day">{{entry.next_post.creation_date.day}}</span>,
            <span class="year">{{entry.next_post.creation_date.year}}</span>
        </p>
    </a>
    {% endif %}
</div>
{% endif %}
{% if blog.enable_disqus %}
<div id='disqus_thread'></div>
<script type='text/javascript'>
var disable_on_mobile = '{{blog.disable_disqus_for_mobile}}';
if(!(disable_on_mobile === 'True' && document.getElementsByTagName('body')[0].offsetWidth < 480)) {
    var disqus_shortname = '{{blog.disqus_shortname}}';
    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
}
</script>
{% endif %}
