{% if blog.enable_facebook or blog.enable_twitter or blog.email_account_link %}
    <script type="text/javascript">
    {% if blog.enable_facebook %}
        facebook_share = function(){if(typeof _gaq !== 'undefined'){_gaq.push(['_trackSocial', 'facebook', 'send']);}}
    {% endif %}

    {% if blog.enable_twitter%}
        twitter_share = function(){if(typeof _gaq !== 'undefined'){_gaq.push(['_trackSocial', 'twitter', 'tweet']);}}
    {% endif %}

    {% if blog.email_account_link%}
        email_share = function(){if(typeof _gaq !== 'undefined'){_gaq.push(['_trackSocial', 'email', 'send']);}}
    {% endif %}
    </script>
{% endif %}
