@mixin formButton($type){
    @if $type == "light-gray"{
        background: $btn-light-gray !important;
        color: $form-text-color;
        border-color: #d2d1d1;
        &:hover{
            background:darken($btn-light-gray, 10%)  !important;
        }
    }@else if $type == "dark-gray"{
        background: $btn-dark-gray !important;
        color:#fff;
        border-color: $form-text-color;
        &:hover{
            background:darken($btn-dark-gray, 10%)  !important;
        }
    }@else if $type == "blue"{
        background: $btn-blue  !important;
        color:#fff;
        border-color: #27729e;
        &:hover{
            background:darken($btn-blue, 10%)  !important;
        }
    }@else if $type == "gray"{
        background: $btn-gray  !important;
        color:#fff;
        border-color: #8a949f;
        &:hover{
            background:darken($btn-gray, 10%)  !important;
        }
    }@else {
        background: $btn-light-gray !important;
        color: $form-text-color;
        border-color: #d2d1d1;
        &:hover{
            background:darken($btn-light-gray, 10%)  !important;
        }
    }

    border-radius: 3px;
    padding: 5px 20px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    span{
        padding: 0;
        font-size: 16px;
        line-height: 24px;
    }
}

@mixin buttons($ns){
    #{$ns}{
        .ui-button{
            @include formButton("light-gray");
        }
        #id_publish,
        #publish_form_bottom{
            @include formButton("blue");
        }
        #id_save,
        #save_form_bottom,
        #upload-button{
            @include formButton("dark-gray");
        }
        #delete_form_bottom,
        #delete-button{
            @include formButton("gray");
        }
        #id_schedule_publish,
        #id_schedule_unpublish{
            @include formButton("blue");
        }
        #id_publish,
        #id_save{
            display: block;
            padding-top:12px;
            padding-bottom:12px;
            border-radius:4px;
            span{
                font-size: 18px;
            }
        }

        #delete_form_bottom{
            float: left;
        }

        .ui-datepicker-buttonpane button{
            @include formButton("gray");
            font-weight: bold;
        }

        .poster-image-button{
            padding: 10px 30px;
            margin-top: 10px;
            margin-left:auto;
            margin-right:0;
            width:70px;
            cursor: pointer;
        }
    }
}

@include buttons($namespace)