@mixin checkboxes($ns){
    #{$ns}{
        input[type="checkbox"]{
            width:0;
            margin-right:20px;
            &:before{
                content: "";
                width: 15px;
                height: 15px;
                border:1px solid $header-border-color;
                display: inline-block;
                background: #f7f7f7;
                margin-top: -3px;
            }
        }
    }
}

@include checkboxes($namespace)