$namespace: ".cms_blogger-blogentrypage";
$content-width: 1024px;

$form-border-color: #bebebe;
$form-text-color: #474747;

$btn-light-gray: #e3e3e3;
$btn-dark-gray: #575757;
$btn-blue: #3482af;
$btn-gray: #9ca6b0;

$header-bg-color: #efefef;
$header-text-color: #00aeef;
$header-border-color: #dddddd;

.pull-right{
    float: right;
}