{% extends 'admin/change_form.html' %}
{% load i18n blog_admin_tags %}

{% block object-tools-items %}
    {% if has_absolute_url and not original.is_draft %}<li><a href="{% site_url original.site %}{{original.get_absolute_url}}?preview" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
{% endblock %}

{% block pretitle %}
<div id='blog-header'>
{{adminform.form.instance.blog.header_as_html|safe}}
</div>
{% endblock %}
{% block content_title %}{% if title %}<h3>{{ title }}</h3>{% endif %}{% endblock %}


{% block field_sets %}
<div class='main-col'>
{% for fieldset in adminform %}
  {% if 'right-col' not in fieldset.classes %}
  {% include "admin/includes/fieldset.html" %}
  {% endif %}
{% endfor %}
</div>
<div class='right-col'>
{% for fieldset in adminform %}
  {% if 'right-col' in fieldset.classes %}
  {% include "admin/includes/fieldset.html" %}
  {% endif %}
{% endfor %}
</div>
{% endblock %}
