{% extends 'admin/change_form.html' %}
{% load i18n blog_admin_tags %}

{% block object-tools-items %}
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url and original.slug and original.blog %}<li><a href="{% site_url original.site %}{{original.get_absolute_url}}?preview" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
{% endblock %}


{% block submit_buttons_bottom %}
{{ block.super }}
<!-- custom prepopulated fields -->
{% initial_empty_prepopulated_fields_js %}
{% endblock %}
