@import "imports/_globals.scss";

@mixin blogEntry($ns, $container){
    #{$ns}{
        .last{
            .#{$container} > .right-col{
                border:0;
                padding-bottom: 0;
            }
        }
        .#{$container}{
            vertical-align: top;
            font-size: 1em;
            margin-bottom: 25px;
            color:$entry-text-color;
            background: #fff;
            & > .left-col{
                display: table-cell;
                width: 50px;
                padding-right:15px;
                padding-bottom:30px;
                text-align: center;
                vertical-align: top;
                .date{
                    vertical-align: middle;
                    text-align: center;
                    width:55px;
                    height:50px;
                    padding-top: 5px;
                    background: $entry-date-bg-color;
                    color: $entry-date-color;
                    .month{
                        font-size: 16px;
                        text-transform: uppercase;
                    }
                    .day{
                        font-size: 22px;
                    }
                }
            }
            & > .right-col{
                display: table-cell;
                width: 100%;
                text-align: left;
                padding-bottom:30px;
                @if $container == "blog-entry"{
                    @include entry-border();
                }

                & > .left-col{
                    @media (min-width:600px){
                        float:left;
                        padding-right: 2%;
                        width: 50%;
                    }
                    text-align: left;
                    white-space: normal;
                    vertical-align: top;
                }
                & > .right-col{
                    text-align: left;
                    @media (min-width:600px){
                        float:right;
                        width: 48%;
                    }
                    @media (max-width:599px){
                        .entry-image{
                            margin-bottom: 10px;
                        }
                    }
                    white-space: normal;
                    vertical-align: top;
                    img{
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

            }

            @if $container == "blog-post"{
                & > .text-plugin{
                    border:none !important;
                    padding:0;
                    margin-left:$left-col-width;
                    .filer_image_container[style*="float: left"]{
                        margin-left: -$left-col-width !important;
                    }
                }
            }

            .entry-read-more{
                background-color: $read-more-bg-color;
                padding: 5px 20px;
                text-decoration: none;
                margin:0;
                font-size: 14px;
                @include border-radius(3px);
            }

            .subtitle{
                margin:0;
                color:$entry-subtitle-color;
                .author{
                    color:$entry-text-color;
                }
            }
            .entry-summary{
                margin:20px 0 30px 0;
                text-align: justify;
            }

            .social{
                display: block;
                margin:20px auto 0 auto;
                width: 25px;
            }
        }
    }
}

@include blogEntry($namespace, "blog-entry");
@include blogEntry($namespace, "blog-post");