@import "imports/_globals.scss";

@mixin entryFooter($ns){
    #{$ns}{
        .entry-footer{
            border-top:1px solid $entry-footer-border-color;
            border-bottom:1px solid $entry-footer-border-color;
            padding: 0 15px;
            margin-bottom: 20px;
            .pull-left,
            .pull-right{
                width: 47%;
                padding:20px 0px 40px 0px;
                text-decoration: none;
                &:hover{
                    .arrow-left,
                    .arrow-right{
                        text-decoration: underline;
                    }
                }
            }
            .pull-left{
                & + .pull-right{
                    border-left:1px solid $entry-footer-border-color;
                }
                padding-right: 3%;
                float: left;
                margin-right:-1px;

                img{
                    padding-right:10px;
                    width: 12px;
                    text-decoration: none;
                }
                .summary,
                .date{
                    margin-left:22px;
                }
            }
            .pull-right{
                text-align: right;
                padding-left: 3%;
                float: right;
                img{
                    padding-left:10px;
                    width: 12px;
                    text-decoration: none;
                }
                .summary,
                .date{
                    margin-right:22px;
                }
            }

            .arrow-left,
            .arrow-right{
                font-size: 20px;
                color: $entry-date-color;
                line-height: 30px;
                margin-bottom: 5px;
            }

            .summary{
                font-size: 14px;

            }

            .date{
                font-size: 12px;
                color: $entry-subtitle-color;
                margin:0;
            }
        }
    }
}

@include entryFooter($namespace);