{% extends 'admin/change_form.html' %}

{% block form_top %}
{% if adminform.form.missing_layouts %}
<style type="text/css">
.errornote li {
    padding: inherit;
    margin: inherit;
    border: inherit;
    color: inherit;
    background: inherit;
}
</style>
<div class='errornote' style='font-weight:bold;'>
    {{adminform.form.missing_layouts}}
</div>
{% endif %}
{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% if inline_admin_formset.opts.description %}
        <script type="text/javascript">
        django.jQuery(document).ready(function() {
            var for_module_id = '{{ inline_admin_formset.formset.prefix }}-group';
            var description = '{{inline_admin_formset.opts.description}}';
            var style = "padding-bottom: 10px; border-bottom: 1px solid #eee;"
            django.jQuery("#" + for_module_id + " h2").first().after(
                "<div class='description' style='" + style + "'>" + description + "</div>" );
        })
        </script>
    {% endif %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}
